@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap');
$pink: hsl(322, 100%, 66%);
$pink-op: hsl(322, 100%, 80%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$poppins: 'Poppins', sans-serif;
$open-sans: 'Opens Sans', sans-serif;